@import "colors.css";

* {
  font-family: "Inconsolata", "FontAwesome 6 Free Solid", sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

window#waybar > *:last-child {
  margin-right: 7px;
}

#workspaces {
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 7px 0px;
  padding: 0px 10px;
}

#workspaces button {
  border-radius: 1rem;
  padding-left: 10px;
  margin: 5px 0;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  background-color: transparent;
}

#workspaces button.focused {
  color: @teal;
  border-radius: 1rem;
}
#workspaces button:hover {
  color: @lavender;
  border-radius: 1rem;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#language,
#custom-lock,
#custom-powermenu {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 7px 0px;
  padding: 10px 15px;
  border-radius: 2rem;
}

#language {
  color: white;
  background-color: transparent;
}

#clock {
  color: @lavender;
}

#battery {
  color: @mint;
}

#battery.charging {
  color: @mint;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#network {
  color: @green;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @cyan;
}

#pulseaudio.muted {
  color: @red;
}

#custom-powermenu {
  color: @yellow;
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}
